/* ==========================
   ORGANIZAÇÃO DO CSS LIMPA
   ========================== */

header {
  background-image: url("../assets/images/image-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 459px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 0 20px;
}

/* ==========================
   Botões
========================== */
.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 24px;
}

.actions button {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  height: 44px;
  border-radius: 28px;
  opacity: 1;
  border: none;
  cursor: pointer;
}

/* Botão 1 */
.actions .btn1 {
  width: 205px;
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Botão 2 */
.actions .btn2 {
  width: 281px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.feature-left,
.feature-left2,
.feature-right,
.feature-bottom {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 60px 20px;
  position: relative;
}

.feature-left {
  align-items: flex-start;
}

.feature-left img,
.feature-left2 img,
.feature-right img,
.feature-bottom img {
  opacity: 1;
  object-fit: cover;
}

.feature-left img,
.feature-right img,
.feature-left2 img {
  width: 607px;
  height: 394px;
}

.feature-left .text {
  position: relative;
  width: 348px;
  /* largura combinada do h2 + p */
  height: 374px; /* altura combinada do h2 + p */
  opacity: 1;
}

.feature-left2 .text {
  width: 348px;
  height: 110px;
}

.feature-right {
  justify-content: center;
}

.feature-right .text {
  width: 351px;
  height: 212px;
}

.feature-bottom {
  flex-direction: column;
  text-align: center;
}

.feature-bottom img {
  width: 784px;
  height: 508px;
}

/* ==========================
   FOOTER
   ========================== */
footer {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.discord-logo {
  width: 230px;
  height: 63px;
}
