h1 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
}

p {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  line-height: 1.5;
}

