@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400&display=swap');

:root {
  /* font */
  --font-title: "Luckiest Guy", cursive;
  --font-text: "Open Sans", sans-serif;

  /* colors */
  --color-black: #23272A;
  --color-white: #ffffff;
}
